# Ignore node_modules
node_modules
npm-debug.log
yarn-error.log
bun.lockb

# Ignore build artifacts
dist
.svelte-kit
.svelte
build
db

# Ignore environment files
.env
.env.local
.env.*.local

# Ignore logs
logs
*.log
log.*

# Ignore dependency caches
.pnpm-store
.yarn
.yarn-cache

# Ignore editor and OS files
.DS_Store
Thumbs.db
.vscode
.idea
*.swp